# Never execute scripts inside the uploads folder
<FilesMatch "\.(php|php\d|phtml|pl|py|cgi|sh)$">
  Require all denied
</FilesMatch>
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8
RemoveType .php .phtml
Options -Indexes -ExecCGI
